<header>
	<div id="navbar">
		<nav class="navbar navbar-default navbar-main" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand ellipsis" href="{{ url_prefix }}{{ home_page or "/" }}">
						<span>{{ brand_html or (frappe.get_hooks("brand_html") or ["Home"])[0] }}</span>
					</a>
					<a class="pull-right toggle-sidebar visible-xs">
						<i class="octicon octicon-three-bars"></i>
					</a>
				</div>
				<div class="hidden-xs">
					{% block navbar_items %}
					{% include "templates/includes/navbar/navbar_items.html" %}
					{% endblock %}
				</div>
			</div>
		</nav>
	</div>
	<div id="page-title">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>Fundación para la Investigación y el Desarrollo de las Tecnologías de la Información de Andalucía</h1>
				</div>
				<div class="col-sm-4">
				<ul class="nav navbar-nav navbar-right">
					{%- for page in top_bar_items -%}
					{% if not page.parent_label and page.right -%}
					{% include "templates/includes/navbar/navbar_link.html" %}
					{%- endif -%}
					{%- endfor %}
					{% include "templates/includes/navbar/navbar_login.html" %}
				</ul>
				</div>
			</div>
		</div>
	</div>
</header>